<!-- This file will act as a header, it keeps all the info I'll use across serval pages  -->
<head>
  <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<!---->
<body>
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <!-- the {%%} allows you to inject python logic into the html template -->
        <!-- this allows me to render differment html depening if the user is authenticated or not -->
        {% if user.is_authenticated %}
          <li><a href="/account">{{user.username}}</a></li>
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- If there are messages this will render -->
  {% if messages %}
    {% for message in messages %}
      <script>M.toast({html : "{{message}}", classes : 'blue rounded', displayLength:2000})</script>
    {% endfor %}
  {% endif %}
  <div class="container">
    <br>
    <!-- block conent allows me to seprate html files but and this is where they will be placed -->
    {% block content %}
    {% endblock %}
  </div>
</body>
<!---->
