/*                                        */
body {
  font-size: 30px;
}



/*                                        */
#thumbNailImage {
  display: none;
}
/*                                        */
label.myLabel input[type="file"] {
    position:absolute;
    top: -1000px;
}

.myLabel {
    /*border: 2px solid #AAA;
    border-radius: 4px;
    padding: 2px 5px;
    margin: 2px;
    background: blue;
    display: inline-block;*/
}
.myLabel:hover {
    background: #CCC;
}
.myLabel:active {
    background: #CCF;
}
.myLabel :invalid + span {
    color: #A44;
}
.myLabel :valid + span {
    color: #4A4;
}
/*                                        */
