/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*
This is a CSS reset.
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
	line-height: 1;
  overflow: hidden;
  overflow-y: scroll;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* The styles start here.*/
nav {
  background-color: black;
  height: 40px;
  width: 100vw;
  font-size: 16px;
  padding-top: 10px;
  position: fixed;
}
a {
  text-decoration: none;
  color: white;
}
.Personal{
  padding: 0 10px 0 50px;
  border-right: 1px solid white;
}
.Business{
  padding-left: 7px;
}
.Signup{
  padding-left: 62em;
}
.Login{
  padding-left: 2em;
}
.bolder {
  font-weight: bolder;
}
/* Product nav bar */
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  padding: 60px 8% 75px 8%;
}
#logo {
  position: absolute;
  top: 50px;
  left: 120px;
  width: 130px;
  height: 200px;
  background-image: url(../images/logo.PNG);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
header div {
  border-left: solid 1px grey;
  padding: 0px 2.5em;
  height: 100px;
}
header h2 {
  font-weight: 400;
  font-size: 25px;
  padding-top: 20px;
}
header div p {
  padding-top: 5px;
  font-size: 15px;
}
/**/

.invalid {
	border: 2px solid red;
}



















/*footer*/
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: 125px;
  padding: 0 8% 0 16%;
  margin-top: 225px;
  background-color: #BDBCBC;
}

footer div h2{
  margin-top: 40px;
  margin-bottom: -30px;
  font-size: 23px;
}
footer div p {
  margin-top: 35px;

}

.Copyright {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0px;
  font-size: 18px;
}
